<!--文件上传页面-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>文件上传</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" >
</head>
<body>
    <!--导航条-->
    <%- include('header.ejs') %>
    <!--文件上传-->
    <div class="card my-5 ml-5" style="width: 18rem;">
       
        <div class="card-body">
          <h5 class="card-title">切勿一次性上传多个文件</h5>
          <a href="#" class="btn btn-primary">上传文件</a>
        </div>
      </div>
      <%- include('footer.ejs') %>